[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/vrillusions/vim-colors-solarized.git
