[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/vrillusions/vim-colors-solarized.git
	ignore = dirty
[submodule "vim/bundle/securemodelines"]
	path = vim/bundle/securemodelines
	url = https://github.com/vrillusions/vim-securemodelines.git
[submodule "vim/bundle/todotag"]
	path = vim/bundle/todotag
	url = https://github.com/vrillusions/vim-todotag.git
